header {
    background-color: darkblue;
    overflow: auto;
    margin: 0;
    padding: 0;
    border: none;
}
#titlepage {
    color: white;
    text-align: left;
    margin-left: 10vh;
    margin-top: 4vh;  
}
#logo {
    color:red;
}

#baner {
    background-image: url("baner.jpg");
    opacity: 0.8;
}

h2 {
    text-align: center;
    color: white;
}

p {
    color: white;
}

#baner {
    width: 100%;
    background-color: red;
}

a {
    text-decoration: none;
    padding: 0.8rem;
    color: white;
    display:inline-block;

}

.active {
    color: red;
}

a:hover {
    color: red;
}

#news {
    background-color: darkblue;
    color: white;
    padding: 0.8rem;
}
.aside  {
    color: black;
    text-align: center;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 0.8rem;
}